.header-student-pages {
    width: 100%;
    border-bottom: 1px solid #dddddd;
    padding: 1rem 1.2rem;
}

.button-back-dashboard {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: .4rem .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    transition: all 100ms ease;
}

.button-back-dashboard:hover {
    background-color: #a0a0a0;
}
