.forgot-passw-page {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    background-color: #f9fafb;
}

.recover-passw-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6em;
}

.bg-logo{
    background-color: #3e00ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: .5em;
}

.recover-passw-form {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #d9d9d9;
    background: #ffff;
    border-radius: 10px;
    gap: 1.4em;
    min-width: 350px;
    height: clamp(150px, 40vh, 350px);
}

.recover-passw-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.email-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.email-container input {
    padding: .6em;
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;
}

.send-code-button {
    padding: .6em;
    background-color: #191919;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4em;
    color: #ffff;
    transition: all .1s ease;
}

.send-code-button:disabled {
    cursor: progress;
    opacity: 80%;
}

.send-code-button:hover {
    background-color: #303030;
}

.remember-passw{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;
    font-size: .8em;
}

.remember-passw a {
    text-decoration: none;
    color: #3e00ff;
}

@media (max-width: 768px) {
    .forgot-passw-page {
        font-size: 14px;
    }
}