.register-page {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6em;
    background-color: #f9fafb;
}

.register-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .6em;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .6em;
}

.bg-logo{
    background-color: #3e00ff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: .5em;
}

.register-form {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #d9d9d9;
    background: #ffff;
    border-radius: 10px;
    gap: 1.4em;
    min-width: 400px;
    height: clamp(200px, 60vh, 500px);
}

.register-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-container,
.email-container,
.passw-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .4em;
}

.name-container input,
.email-container input,
.passw-container input {
    padding: .6em;
    border-radius: 10px;
    border: none;
    background-color: #f0f0f0;
}

.register-button {
    padding: .6em;
    background-color: #191919;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4em;
    color: #ffff;
    transition: all .1s ease;
}

.register-button:disabled {
    cursor: progress;
    opacity: 80%;
}

.register-button:hover {
    background-color: #303030;
}

.log-in {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2em;
    font-size: .8em;
}

.log-in a {
    text-decoration: none;
    color: #3e00ff;
}

@media (max-width: 768px) {
    .register-page {
        font-size: 14px;
    }
}