* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, 
            "SF Pro Text", "SF Pro Display",
            Helvetica, Arial, sans-serif;
}

button {
    cursor: pointer;
}

input,
textarea,
button,
select {
    font: inherit;
}